#cloud-config
users:
  - default
  - name: ansible
    gecos: ansible
    sudo: ["ALL=(ALL) NOPASSWD:ALL"]
    ssh_pwauth: False
    ssh_authorized_keys:
      - {{ ssh_authorized_keys }} 
runcmd:
  - curl -k --data "host_config_key={{ host_config_key }}" https://{{ tower }}/api/v2/job_templates/{{ template_id }}/callback/
